$fontSize: 37.5;

@function px2rem($px) {
  @return ($px / $fontSize) + rem
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin ellipsis2($line, $wordBreak) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: $wordBreak;
}

@mixin right {
  justify-content: end;
}

@mixin left {
  justify-content: flex-start;
}
