$fontSize: 37.5;

@function px2rem($px) {
  @return ($px / $fontSize) + rem
}

@mixin minBoxShadow {
  box-shadow: 0 px2rem(2) px2rem(2) rgba(0, 0, 0, .2);
}

@mixin absCenter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin absColumnCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin columnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin right {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

@mixin left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin ellipsis2($line, $wordBreak) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: $wordBreak;
}

@mixin scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin hiddenScrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

