$menuBarHeight: 48; // 菜单栏高度
$menuBarSettingHeight: 85; // 字号设置栏高度

//动画持续时间
.slide-up-enter-active,
.slide-up-leave-active,
.slide-up-popup-enter-active,
.slide-up-popup-leave-active,
.slide-down-enter-active,
.slide-down-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.fade-enter-active,
.fade-leave-active,
.fade-slide-left-enter-active,
.fade-slide-left-leave-active,
.title-move-enter-active,
.title-move-leave-active {
  transition: all .3s;
}

// 向上滑入,向下滑出过渡
.slide-up-enter,
.slide-up-leave-to {
  transform: translate3d(0, px2rem($menuBarHeight + $menuBarSettingHeight), 0);
}

// 向下滑入, 向上滑出过渡
.slide-down-enter,
.slide-down-leave-to {
  transform: translate3d(0, -100%, 0);
}

.slide-up-popup-enter,
.slide-up-popup-leave-to {
  transform: translate3d(0, 100%, 0);
}

.slide-left-enter,
.slide-left-leave-to {
  transform: translate3d(-100%, 0, 0);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-slide-left-enter,
.fade-slide-left-leave-to {
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.title-move-enter,
.title-move-leave-to {
  opacity: 0;
  transform: translate3d(0, 20%, 0);
}

